/*что-то поменяем*/
body {
	background-color: 92A2A6;
}

/*#accordion section{
	text-align: left;
	background-color: F0ECDD;
	padding: 1px;
	width: 30%;
	margin-left: 10px;
}

#accordion section ul {
	display: none;

}
#accordion section a {
	text-align: none;
	color: C7987B;
	text-decoration: none;
	text-align: center;


}
#accordion section a:hover {
	color: E0C69F;
	}

#accordion section:target ul {
	display: block;

}*/


ul.accordion_line{
	text-align: center;
	


}

ul.accordion_line li section ul{
	display: none;

}

.accordion_line a {
	margin: 10px;
	text-align: center;
	color: C7987B;
	text-decoration: none;
}

ul.accordion_line li section:target ul {
	display: block;
	
	padding-right: 7px;

}




ul.accordion_line>li{
	text-align: center;
	background-color: #F0ECDD;
	margin: 2px;
	margin-top: 7px;
	display: inline-block;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 3px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 300px;
    vertical-align: top;

	

}



